<% if notice.present? %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
  <% end %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', news_index_path %>
